@media (prefers-color-scheme: light) {
  .day.light-scheme   { background: white; color:  #555; }
  .night.light-scheme { background:  #eee; color: black; }
}

.sidebar-dark {
    background-color: #506379;
}

.main-sidebar elevation-4 sidebar-dark-primary{
    background-color: #506379 !important;
}

body.theme-flatly sidebar-dark { color: pink; }